@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


/*  Shared Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: black;
}
section{
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 100px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    color: white;
}
p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;
    font-size: 1.12rem;
    font-weight: 600;
    color: white;
}
.heading{
    font-size: 2.85rem;
    font-weight: 900;
}
.text-box{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 58px;
}
.text-box>*, .gap>*{
    margin-bottom: 14px;
}

/* Navigation Bar */

header{
    background: linear-gradient(90deg, rgb(17, 17, 17),rgba(119, 119, 119,0.1));
}
.hamburger-icon{
    display: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.navbar h1, footer h1{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
} 
.navbar nav ul{
    display: flex;
    gap: 3rem;
    font-size: 1rem;
    font-weight: 600;
}
.active{
    padding: 8px 20px 8px 20px;
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
}
.navbar nav{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 10px 22px 10px 3px;
}

/* Banner Section */

.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    gap: 167px;
}
.banner-text h1{
    font-size: 4.6rem;
    font-weight: 900;
    line-height: 100px;
}
.banner-text>*{
    margin-bottom: 28px;
}
.button{
    display: flex;
    gap: 14px
}
.banner-text span{
    font-family: "Italianno", cursive;
    font-size: 8.5rem;
    font-weight: 400;
}
.btn2{
    background: transparent;
    border: 2px solid white;
}
.banner-image-container{
    position: relative;
}
.workout, .tutorial{
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 24px;
}
.workout{
    right: -100px;
    top: 120px;
}
.workout h1{
    font-size: 2.5rem;
    font-weight: 900;
}
.tutorial h1{
    font-weight: 900;
}
.tutorial{
    display: flex;
    align-items: center;
    gap: 8px;
    left: -100px;
    top: 430px;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60)
}

/* Fitness Section */

.fitness-container{
    text-align: center;
}
.fitness-image img{
    border-radius: 50%;
    margin-bottom: 14px;
    border: 3px solid rgba(255, 255, 255, 0.2);
}
.fitness-image{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* Run Exercise Section */

.run-exercise-container{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 32px;
}
.run-exercise{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 165px;
    justify-items: center;
    align-items: center;
}
.run-exercise-image img{
    border-radius: 18px;
}
.run-exercise .btn{
    margin-top: 30px;
}

/* Training Section */

.training-images{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 220px 220px;
    gap: 5px;
}
.training{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.training-text{
    width: 60%;
}
.training1{
    grid-column:1/span 3;
    background: linear-gradient(90deg,rgba(6, 255, 210, 0.5),rgba(6, 255, 210, 0.5)),url(images/exercise1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.training2{
    grid-column:4/span 6;
    background: linear-gradient(90deg,rgba(255, 0, 0, 0.3),rgba(255, 0, 0, 0.3)),url(images/exercise2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.training3{
    grid-column:10/span 3;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/exercise3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.training4{
    grid-column:1/span 5;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/exercise4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.training5{
    grid-column:6/span 3;
    background: linear-gradient(90deg,rgba(66, 255, 0, 0.3),rgba(66, 255, 0, 0.3)),url(images/exercise5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.training6{
    grid-column:9/span 4;
    background: linear-gradient(90deg,rgba(0, 71, 255, 0.3),rgba(0, 71, 255, 0.3)),url(images/exercise6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Team Members */

.team-text{
    text-align: center;
}
.team-images{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 270px 270px;
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}
.team-member{
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}
.team-member1{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(images/trainer1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-member2{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(images/trainer2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-member3{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(images/trainer3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-member4{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(images/trainer4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-member5{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(images/trainer5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.team-member6{
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(images/trainer6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Footer Section */

footer section{
    margin-bottom: 0;
}
footer{
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 0px;
}
.footer-text-section{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
}
.footer-logo-section{
    width: 40%;
}
footer hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
}
footer .copyright{
    text-align: center;
}

/* BMI Calculator Section */

article{
    background: rgb(34, 34, 34);
    padding: 50px 0;
    margin-bottom: 100px;
}
.bmi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
}
.bmi-calc form .input-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
form input, form select{
    width: 100%;
    padding: 15px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
input::placeholder{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
option{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
.span-column{
    grid-column:1/ span 2;
}
.bmi-calculator-section h1{
    font-size: 1.75rem;
    font-weight: 900;
}
.bmi-chart table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 18px;
}

/* Deals Container */

.deals-text{
    text-align: center;
}
.info{
    display: flex;
    gap: 26px;
    margin-bottom: 24px;
}
.info i{
    color: rgb(230, 83, 60);
}
.deals-container{
    background: url('images/gym3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 56px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}
.deals-section{
    width: 55%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.6);
    padding: 50px;
}
.deals-info h3, .deals-info p, .info1 p, .deals-info h4{
    color: black;
}
.deals-container2{
    background: url('images/gym1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
}
.see-packages{
    display: flex;
    justify-content: center;
}

/* Responsive */

@media screen and (max-width: 576px) {
    section{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    nav{
        display: none;
    }
    .heading{
        font-size: 2.2rem;
    }
    p{
        font-size: 0.9rem;
    }
    .hamburger-icon{
        display: block;
        cursor: pointer;
    }
    .banner, .fitness-image, .run-exercise, .bmi, .team-images{
        grid-template-columns: 1fr;
    }
    .team-images{
        grid-template-rows: repeat(6, 280px);
    }
    .banner, .run-exercise, .bmi{
        gap: 35px;
    }
    .banner p{
        font-size: 1rem;
    }
    .training-images{
        grid-template-columns: 1fr;
    }
    .text-box, .training-text, .deals-section, .deals-text, .footer-logo-section{
        width: 100%;
    }
    .btn{
        padding: 16px;
        width: 100%;
    }
    #bmi-calc-btn{
        width: auto;
        padding: 16px 70px;
    }
    .deals-container{
        padding: 15px;
    }
    .banner-text p{
        width: 80%;
    }
    .banner-text h1{
        width: 70%;
        font-size: 2.7rem;
        font-weight: 900;
        line-height: 50px;
    }
    .banner-text span{
        font-size: 5rem;
    }
    .workout{
        right: -12px;
        top: 50px;
    }
    .workout h1{
        font-size: 2rem;
    }
    .workout p, .tutorial p{
        font-size: 0.75rem;
    }
    .tutorial{
        display: flex;
        align-items: center;
        gap: 8px;
        left: -12px;
        top: 330px;
    }
    .fitness-image{
        gap: 40px;
    }
    .fitness-image .fitness{
        width: 70%;
        justify-self: center;
        align-self: center;
    }
    .footer-text-section{
        flex-direction: column;
        gap: 25px;
        padding: 40px 0;
    }
    .footer-logo-section h1{
        font-size: 4rem;
    }
    .training-images{
        display: flex;
        flex-direction: column;
    }
    .training{
        height: 250px;
    }    
}